alumno/alumno02.dtd

<!ELEMENT alumno (legajo | nombre | apellido | materias)*>
<!ELEMENT materias ((materia, materia, materia) | (materia))>
<!ELEMENT materia (codigo, nombreMateria, objetivos, (docentes)?)>
<!ELEMENT docentes (docente)*>
<!ELEMENT legajo (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT nombreMateria (#PCDATA)>
<!ELEMENT objetivos (#PCDATA)>
<!ELEMENT docente (#PCDATA)>